{% extends "invoicing/base.html.jinja2" %}

{% block html_body %}
    {% if invoices %}
    <table>
        <tr>
            <th>Date</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
        {% for invoice in invoices %}
        <tr>
            <td>{{ invoice.date }}</td>
            <td>{{ '%0.2f' % invoice.total }}</td>
            <td>
                <a href="{{ url_for('invoicing.edit', invoice_id=invoice.id) }}">💰</a>
                <a href="{{ url_for('invoicing.remove', invoice_id=invoice.id) }}">❌</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock html_body %}