{% extends "base.html.jinja2" %}

{% block nav %}
    {{ super() }}
    <div class="nav">
        <a href="{{ url_for('billing.home') }}">List</a>
        <a href="{{ url_for('billing.add') }}">Add</a>
    </div>
{% endblock nav %}