{% extends "billing/base.html.jinja2" %}

{% block html_body %}
    <h2>Remove Billing Position</h2>
    <form action="{{ url_for('billing.remove', billing_position_id=billing_position.id) }}" method="post">
        <p>Date</p>
        <input type="text" value="{{ billing_position.date }}" disabled>
        <p>File</p>
        <input type="text" value="{{ billing_position.file }}" disabled>
        
        <input type="hidden" name="confirmation" value="yes">
        <input class="danger" type="submit" value="Delete">
    </form>
{% endblock html_body %}